# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Alignment'
      'submenu': [
        { 'label': 'Align', 'command': 'atom-alignment:align' },
        { 'label': 'Align Multiple', 'command': 'atom-alignment:alignMultiple' }
      ]
    ]
  }
]
